.contact {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding: 120px 2rem;

    @media screen and (max-width: 900px) {
        padding: 24px 2rem;
    }

    h1 {
        font-size: 3em;
        margin-bottom: 42px;

        @media screen and (max-width: 520px) {
            font-size: 2rem;
        }
    }

    &_btn {
        font-size: 2rem;
        color: var(--secondary-color);
        margin-bottom: 400px;
        cursor: pointer;
        font-weight: bold;
        text-decoration: none;

        span {
            display: inline-block;
            opacity: 0;
            margin-left: 10px;
            transform: translate(-50%, 2px);
            transition: all .3s ease;
        }

        &:hover {
            text-decoration: underline;

            span {
                opacity: 1;
                transform: translate(50%, 2px);
            }
        }
    }

    &__socials {
        padding-top: 200px;

        a {
            color: black;
            width: 42px;
            height: 42px;
            margin-right: 20px;
            background-color: rgb(238, 238, 238);
            display: inline-flex;
            justify-content: center;
            align-items: center;
            padding: 28px;
            border-radius: 50%;
            transition: 0.5s;

            &:hover {
                transform: scale(1.1);
            }

            @media screen and (max-width: 380px) {
                width: 28px;
                height: 28px;
                margin-right: 10px;
                padding: 20px;
            }
        }
    }
}