.projects-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 2rem 0;
    gap: 10px;
}

@media screen and (max-width: 900px) {
    .projects-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 500px) {
    .projects-container {
        grid-template-columns: 1fr;
    }
}