.footer {
    width: 100%;
    background-color: var(--lightGray-color);


    &__content {
        max-width: 1400px;
        width: 100%;
        margin: 0 auto;
        padding: 1rem;
        display: flex;
        gap: 32px;

        @media screen and (max-width: 420px) {
            flex-direction: column;
            gap: 10px;
        }
    }
}