@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
    --font-family: 'Inter', sans-serif;
    --primary-color: #edf2f8;
    --secondary-color: #0490FF;
    --black-color: #000000;
    --lightGray-color: #F7F7F8;
    --gray-color: #444444;
    --white-color: #ffffff;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}